body{
    background-color: rgb(0, 0, 0);
}
/* .news-container{
    overflow: hidden;
}

.news-container::-webkit-scrollbar {
    width: 10px; 
  }
  
  .news-container::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .news-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  .news-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
   */
  